{%extends 'base.html.twig' %}

{% block title 'CRUD AL2000' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1> Welcome to AL2000 ADMIN</h1>

    </div>
    <div class="card bg-white text-dark">
            <div class="container">
                <h1> CRUD </h1>
                <a class="btn btn-outline-dark" href="{{ path('appendice_index') }}"> Appendice </a>
                <a class="btn btn-outline-dark" href="{{ path('client_active_index') }}"> client_active </a>
                <a class="btn btn-outline-dark" href="{{ path('client_passive_index') }}"> 	client_passive </a>
                <a class="btn btn-outline-dark" href="{{ path('commande_index') }}"> commande </a>
                <a class="btn btn-outline-dark" href="{{ path('composants_index') }}"> composants </a>
                <a class="btn btn-outline-dark" href="{{ path('home') }}"> 	composants_repas </a>
                <a class="btn btn-outline-dark" href="{{ path('home') }}"> 	extensions </a>
                <a class="btn btn-outline-dark" href="{{ path('plat_index') }}"> 	plat </a>
                <a class="btn btn-outline-dark" href="{{ path('reaps_index') }}"> 	reaps </a>

            </div>
    </div>

{% endblock %}